{% extends "base.html" %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Hear Our Story</p>
        </div>
    </div>
</header>
<br> <br><br> <br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col_10">
                <p align="justify">
             welcome to Shahin Market,your friendly online store designed to make shopping simple and enjoyable .At Shahin Market ,we believe everyone deserves access to quality products at affordable prices.Our virtual store offers a wide range of items carefully selected to meet the needs and tastes of our customers.
             Thank you for visiting Shahin market.We hope you enjoy exploring our products!                   
                </p>
            </div>
        </center>
    </div>
</div>
<br> <br><br><br> <br><br><br> <br><br>
{% endblock %}