{% extends "base.html" %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">vared shavid</h1>
            <p class="lead fw-normal text-white-50 mb-0">vorood be nahiyeye karbari</p>
        </div>
    </div>
</header>
<br> <br>
<div class="container">
    <div class="row">
        <center>
            <div class="col_10">
                <p align="justify">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" name="username" placeholder="name karbari ra vared konid">
                    </div>
                    <div class="mb-3">

                        <input type="password" name=password placeholder="password khod ra vared konid">
                    </div>
                    <button type="submit" class="btn btn-primary">login</button>
                </form>
                </p>
            </div>
        </center>
    </div>
</div>
<br> <br>
{% endblock %}